@font-face {
  font-family: "iconfont";   
  src: url('iconfont2.ttf') format('truetype')
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zigerenzheng:before {
  content: "\e602";
}

.icon-gerenxinxi:before {
  content: "\e6e8";
}

.icon-tuichu:before {
  content: "\e779";
}

.icon-qianbao:before {
  content: "\e609";
}

